.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.load_more {
  margin: 0 auto;
  display: block;
  color: black;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #91a1ff;
  transition: background-color linear 250ms;
  border: none;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 50px;
}

.load_more:hover,
.load_more:focus {
  background-color: #6387ff;
}

.svg {
  height: 20px;
  width: 20px;
  margin-bottom: -5px;
}

.input {
  height: 30px;
  outline: none;
  border: none;
  background-color: #9cebff;
  margin-left: 15px;
  padding-left: 5px;
}

.input:focus {
  background-color: #65e0ff;
}

.btn_submite {
  border: none;
  background-color: #9cebff;
  cursor: pointer;
}

.form {
  background-color: #9cebff;
  border-radius: 10px;
  padding-right: 5px;
}

.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  gap: 25px;
}

.clear {
  cursor: pointer;
  border: none;
  background-color: #ff8888;
  padding: 8px;
  border-radius: 10px;
  transition: background-color linear 150ms;
}

.clear:hover {
  background-color: #ff5252;
}
